---
import MainLayout from "../layouts/MainLayout.astro";
import HeroLines from "../components/HeroLines.astro";
import TechstackIllu from "../components/TechstackIllu.astro";
import ProjectList from "../components/Projects/ProjectList.astro";
---

<MainLayout>
  <!-- <Footer /> -->
  <section
    class="pt-[200px] flex flex-col justify-center relative isolate text-balance"
  >
    <div
      class="absolute top-[50px] md:top-[150px] md:left-[500px] -z-10 max-w-[calc(100%-4rem)]"
    >
      <HeroLines color="#22c55e" />
    </div>
    <h1 class="font-normal">
      Hi, my name is <span class="font-bold">Mathias</span><span
        class="text-orange-500">.</span
      >
    </h1>
    <p class="limit-w">
      I am a software engineer / frontend developer with a passion for
      performance, accessibility, and user experience.
    </p>
    <p class="text-balance">
      currently working as a software developer at
      <a
        href="https://norkart.no"
        target="_blank"
        aria-label="Link to Norkart's website"
        rel="noreferer noopener"
        class="underline underline-offset-4 decoration-green-500"
      >
        Norkart
        <span class="text-green-500 font-bold font-heading">.</span>
      </a>
    </p>
    <div
      class="h-auto w-24 flex flex-col gap-4 opacity-40 items-center justify-center pt-12"
    >
      <p>scroll</p>
      <span class="h-64 w-[1px] bg-text block"></span>
    </div>
  </section>
  <section
    class="pt-20 h-auto relative isolate scroll bg-background"
    data-speed="1.5"
  >
    <div
      class="absolute -bottom-56 md:left-[500px] -z-10 max-w-[calc(100%-4rem)]"
    >
      <div
        class="w-[min(600px,calc(100vw_-_2rem))] h-[364px] bg-orange-200/20 rounded"
      >
      </div>
    </div>
    <h2>
      Frontend Guru
      <span class="text-green-500">.</span>
    </h2>
    <p class="limit-w">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit adipisci
      cupiditate quaerat quos quis corporis nemo. Ducimus cumque facilis rerum
      error dolorem eius accusamus, eos fugiat repellendus quia, qui voluptatum
      iure laboriosam, consequatur laborum minima repudiandae excepturi!
      Pariatur obcaecati neque temporibus dolorum eos facere, repellat sequi
      dolor consequuntur natus laboriosam.
    </p>
  </section>

  <section class="pt-20 mt-64">
    <h3>
      Projects I have done
      <span class="text-blue-500">.</span>
    </h3>
    <p class="max-w-[min(650px,calc(100%_-_2rem))]">
      I have a lot of ideas, and I love to create things.
    </p>
    <ProjectList />
  </section>
</MainLayout>
