---
import { Picture } from "astro:assets";
const { desk1, desk2, mobile } = Astro.props;
---

<section
  class="w-full h-[500px] md:h-[1000px] grid grid-cols-2 grid-rows-2 gap-3"
>
  <div
    class="w-full h-full col-span-2 row-span-1 p-2 md:p-12 rounded bg-green-500/10"
  >
    <Picture
      width={2880}
      height={1720}
      loading={"lazy"}
      format="webp"
      class="w-full h-full object-contain"
      src={desk1}
      alt="Desktop screenshot"
    />
  </div>
  <div
    class="w-full h-full col-span-1 row-span-1 p-2 md:p-12 rounded bg-green-500/10"
  >
    <Picture
      width={2880}
      height={1720}
      loading={"lazy"}
      format="webp"
      class="w-full h-full object-contain"
      src={desk2}
      alt="Desktop screenshot of 2nd page"
    />
  </div>
  <div
    class="w-full h-full col-span-1 row-span-1 p-2 md:p-12 rounded bg-green-500/10"
  >
    <Picture
      width={720}
      height={1486}
      format="webp"
      loading={"lazy"}
      class="w-full h-full object-contain"
      src={mobile}
      alt="Mobile screenshot of front page"
    />
  </div>
</section>
